@import url('https://fonts.googleapis.com/css?family=Mansalva|Merriweather|Titillium+Web&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

body{
    background: black;
    text-align: center;
}
div{
    background-color: black;
    font-family: 'Merriweather', sans-serif;
    font-size: 1em;
}
header{
    font-family: 'Mansalva', sans-serif;
    font-size: 100px;
    color: whitesmoke;
    background-image: image-set("imagenes/misterio1.jpg");
}

header p{
font-size: 40px;
}

aside{
padding: 2em;
background-color: darkred;
}
aside p{
    color: white;
    font-size: 1em;
}

aside h2{
    color: darkgoldenrod;
    font-size: 2em;
}

.Content{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.Selector{
    flex: 1 0 auto;
}
.Info{
     flex: 1 0 auto;
 }
.MainShow h2{
color: burlywood;
}

.MainShow p{
    color: white;
    font-family: 'Titillium', sans-serif;
}

.MainShow{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.Info img{
 width: 180px;
 height: 200px;
 border-radius: 10%;
}

footer{
    text-align: center;
    font-size:2em;
    color: whitesmoke;
    background-image: image-set("imagenes/misterio2.jpg") ;
}